/* font-family: 'Delius', cursive;
font-family: 'Itim', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'League Script', cursive;
font-family: 'Mukta Malar', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Space Mono', monospace; */

html {
    scroll-behavior: smooth;
  }
body
{
    background-image: linear-gradient(to right, #2e2e2e, #353535, #3c3c3c, #444444, #4b4b4b, #4a4a4a, #48484a, #474749, #3b3d40, #303437, #242c2d, #1a2322);
}
#preloader
{
    background:#212529 url(../images/preloader.gif) no-repeat center;
    background-size: 50%;
    min-height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
}
::-webkit-scrollbar
{
    width: .5em;
    background: #212529;
}
::-webkit-scrollbar-thumb
{
background-color: yellow;

}

.propic
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 720px) {
    #profile-Image {
        border-radius: 0%;
    }
  }
.heading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile-heading
{
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-family: 'Cutive Mono', monospace;
}
.menu-content
{
    background-color: #4A4B4B;
    color: white; 
    font-family: monospace;
}
.paper-links
{
    font-family: kavivanar;
}
.project-links
{
    text-decoration: none;
    color: black;
    font-family: kavivanar;
    border-radius: 5px;
}
.project-links:hover
{
    color: #4A4B4B;
}
.project-title
{
    font-family: 'Kavivanar', cursive;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
}
.project-description
{
    font-family: 'Kavivanar', cursive;
    font-size: 1em;
    font-weight: 600; 
    text-align: left;
}
.cv-content
{
background-color: #4A4B4B;
}
.cvbtn
{
    font-weight: bold;
    color: white;
    
}
.academic-table
{
text-align: left;
width: 100%;
color: white;
font-family: monospace;
}
.footer-link
{
    height: 20px;
    width: 20px;
}
#footer-bar
{
    font-family: kavivanar;
    font-weight: bold;
    color: white;
}
.footer-bar
{

position: relative;
padding:.5rem 0 1rem 0;
margin: 5rem 0 0 0;
bottom: 0px;
width: 100%;
background-color: #212529;
}